@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  --grey: #e4dcdc;
  --dark-grey: #abafb0;
  --blue: rgba(44, 44, 225, 0.765);
  --text: black;
  --green: #3b6452;
  --white: rgb(223, 222, 222);
  --trans-background: #7b7b7be0;

  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.auth-form--container {
  width: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.auth-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form--button {
  border: none;
  border-radius: 25px;
  background-color: var(--green);
  padding: 15px;
}

.auth-form--input {
  background-color: var(--grey);
  border: none;
  border-radius: 25px;
  color: var(--text);
  padding: 20px;
}

.auth-form--socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.auth-form--socials-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  background-color: var(--grey);
}

.text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-container h5 {
  color: var(--blue);
  cursor: pointer;
}

.form-error {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: rgba(241, 55, 55, 0.761);
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: var(--blue);
}
.toggle-button:focus {
  color: var(--dark-grey);
  outline: none;
}
